APP_ENV=dev
LOG_LEVEL=INFO
API_TITLE=Clinly Backbone
API_VERSION=0.1.0

MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=clinly_backbone
MONGO_CONNECT_TIMEOUT_MS=3000
MONGO_SERVER_SELECTION_TIMEOUT_MS=3000

# upcoming milestones
JWT_SECRET=change-me-in-prod
MESSAGE_ENCRYPTION_KEY=change-me-in-prod